/* Fonts */
@font-face {
    font-family: 'BluuNext-Bold';
    src: url(font/BluuNext-Bold.otf);
}

/* Login  */
*{
    margin: 0;
}

.login {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
    background-image: url(imagenes/login.jpg);
}

.contenedor {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.contenedor-login{
    background-color: rgba(0, 0, 0, 0.5);
    width: 40%;
    border-radius: 15px;
    box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.62);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'BluuNext-Bold';
}

.imagen {
    width: 50%;
    min-width: 250px;
    border-bottom-right-radius: 15px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.boton {
    height: 40px;
    width: 200px;
    border-radius: 5px;
    border: 2px solid #000;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
}
.is{
    text-decoration: none;
    color: white;
    font-family: 'BluuNext-Bold';
    font-size: large;
}
label {
    margin-top: 10px;
    color: white;
    font-weight: 700;
    font-size: 1em;
    width: 80%;
}

input {
    margin-top: 5px;
    width: 80%;
    height: 35px;
}

p {
    color: white;
    font-family: 'BluuNext-Bold';
    padding: 1em;
}

.alogin{
    color: white;
    padding-left: 2px;
}

[type="checkbox"]{display: none;}

.cb {
    
    padding-left: 1em;
    padding-top: 1em;
    position: relative;
    display: flex;
    width: 75%;
}

.cb::before {
    content: '';
    border: solid 1px white;
    border-radius: 3px;
    width: 0.9em;
    height: 0.9em;
    position: absolute;
    left: -5px;
    transition: all 0.2s;
    transform: rotate(0deg);
}
[type="checkbox"]:checked + .cb::before {
    border-color: white;
    color: white;
    content: '\f00c';
    font-family: FontAwesome;
    transform: rotate(360deg);
}

/* Fin del Login  */

/* Register  */

/* index - Navbar */
html{
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    font-size: 16px;
    overflow: hidden;
}
header {
    width: 100%;
    display: flex;
}
nav {
    width: 100%;
    height: auto;
    background-color: #242633;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.logodiv{
    display: flex;
}
.logo {
    display: flex;
    justify-content: left;
    width: 130px;
    margin-left: 5em;
}
.opc {
    display: flex;
    justify-content: right;
    margin-right: 5em;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: 'BluuNext-Bold';
}

/* Hero */

.hero {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(imagenes/hogwarts.jpg)center/cover;
    background-repeat: none;
    background-size: cover;
    position: relative;
}



.portada {
    padding: 0.3em;
    position: absolute;
    width: 100%;
    color: white;
}

.portadah1 {
    font-family: 'BluuNext-Bold';
    font-size: 4em;
    font-weight: 700;
    text-align: center;
    line-height: 1.5;
    text-shadow: 1px 1px 10px black;
  }


.portadap1 {
    display: flex;
    font-size: 30px;
    font-family: 'BluuNext-Bold';
    justify-content: center;
    text-shadow: 1px 1px 10px black;
}

.botoneshero {
    margin-top: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboton {
    display: inline-flex;
    width: 40%;
    text-decoration: none;
    flex-wrap: wrap;
}

.botonhero {
    display: flex;
    width: 50%;
    margin-left: 10rem;
    height: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid black;
    background-color: #153540;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-family: 'BluuNext-Bold';
    text-decoration: none;
    overflow: hidden;
    transition: background-color 0.3s ease-in;
}



.botonhero:hover {
    background-color: #0D0E16;
}



/* cards */

section#explora{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    background-color: #242633;
}

.cardsh2{
    padding: 2em;
    font-family: 'BluuNext-Bold';
    color: white;
    font-size: 3em;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.5;
    text-shadow: 1px 1px 10px black;
}

.container {
    padding-left: 3em;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
}

 .container .card {
    padding: 1em;
    width: 330px;
    height: 510px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba( 0 , 0 , 0 , 0.2 );
    overflow: hidden;
    margin: 20px ;
    text-align: center;
    transition: all 0.25;
    background-color: #7E0306;
 }

 .container .card a{
    text-decoration: none;
 }
 .container .card-slytherin{
     background-color: #00754F;
 }
 .container .card-hufflepuff{
    background-color: #ffd147a8;
 }
 .container .card-ravenclaw{
    background-color:  #85BBD6;
 }



 .container .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba( 0 , 0 , 0 , 0.2 );
}
.container .card img {
   width : 250px;
   height : 250px;
}

.container .card h4 {
    padding: 1em;
   font-weight: 900;
   font-size: 20px;
   font-family: 'BluuNext-Bold';
   text-transform: uppercase;
   color: #fff;
   text-shadow: 1px 1px 10px black;
}

.container .card p{
    padding: 0 1rem;
    font-family: 'BluuNext-Bold';
    font-weight: 400;
    font-size: 18px;
    color: white;
    text-shadow: 1px 1px 10px black;

}




/* Footer */
.footer {
    width: 105%;
    height: auto;
    background-color: #1D1E2A;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box h3{
    font-family: 'BluuNext-Bold';
    color: white;
    text-shadow: 1px 1px 10px black;
    font-size: 20px;
    margin-bottom: 20px;
}
.pie-pagina .grupo-1 .box h6{
        font-family: 'BluuNext-Bold';
        color: white;
        font-size: 20px;
        text-shadow: 1px 1px 10px black;
}
.grid{
    display: grid;
    grid-template-columns: [x0] 1fr [x1] 1fr;
    gap: 5px;
    margin-top: 25px;
}
.grid .icono {
    margin-top: 15px;
    grid-column-start: x0;
    grid-column-end: x1;
}
.grid .texto{
    margin-right: 200px;
    color: white;
    text-shadow: 1px 1px 10px black;
    font-family: 'BluuNext-Bold';
}
.pie-pagina .grupo2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy {
    color: white;
    text-shadow: 1px 1px 10px black;
}

/* Media */
@media (max-width: 1250px) and (min-width: 801px) {
    .contenedor-login {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .imagen {
        min-width: 150px;
    
    }

    form {
        width: 70%;
        padding: 2em;
    }
}

@media (max-width: 800px) and (min-width: 626px) {  
        .contenedor-login {
            width: 80%;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }
        .imagen {
            min-width: 150px;
        
        }
    
        form {
            width: 70%;
            padding: 2em;
        }
        .login {
            background-image: url(imagenes/responsive2.jpg);
            background-size: 800px;
            background-repeat: no-repeat;
        }

        .container {
            margin-left: 8em;
        }
        .pie-pagina .grupo-1{
            grid-template-columns: repeat(1, 1fr);
            padding: 1em;   
        }
        .grid{
            gap: 0;
            margin-top: 0px;
        }
        .grid .texto{
            margin-top: 7px;
            margin-right: 500px;
            color: white;
            text-shadow: 1px 1px 10px black;
            font-family: 'BluuNext-Bold';
        }
        .portadap1 {
            text-align: center;
        }
        .grupo2 {
            margin-right: 10em;
        }
}

@media (max-width: 625px) and (min-width: 420px){
    .contenedor-login {
        width: 80%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .imagen {
        min-width: 150px;
    
    }

    form {
        width: 70%;
        padding: 2em;
    }
    .pie-pagina .grupo-1{
        grid-template-columns: repeat(1, 1fr);
        margin: 1em;
    }
    .mapa {
        width: 94%;
    }
    body {
        width: 100%;
    }
}

@media (max-width: 419px) and (min-width: 300px){
    /*Login */
    .contenedor-login {
        width: 80%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .imagen {
        min-width: 150px;
    }

    form {
        width: 70%;
        padding: 2em;
    }
    .login {
        background-image: url(imagenes/loginresponsive.jpg);
        background-size: 419px 915px;
        background-repeat: no-repeat;
    }

    /*Index */

    body {
        font-size: 12px;
    }

    .logodiv {
        width: 60%;
    }


    .pie-pagina .grupo-1{
        grid-template-columns: repeat(1, 1fr);
        padding: 1em;   
    }
    .logo {
        width: 25%;
    }
    .container {
        padding: 1em;     
        height: 550px;
        margin: 0;
     }
     .opc {
        margin: 2em;
        margin-right: 4em;
    }
    .botoneshero {
        width: 100%;
        margin-left: 1em;
    }
    .aboton{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    .botonhero {
        display: flex;
        justify-content: center;
        width: 80%;
        height: 55px;
        margin-left: 10px;
        
    }
    .mapa {
        width: 57%;
    }
    .grid{
        gap: 0;
        margin-top: 0px;
    }
    .grid .texto{
        margin-top: 7px;
        margin-right: 500px;
        color: white;
        text-shadow: 1px 1px 10px black;
        font-family: 'BluuNext-Bold';
    }
    .portadap1 {
        text-align: center;
    }
    .grupo2 {
        margin-right: 10em;
    }
}